
.Home{
  background-image: url("https://static01.nyt.com/images/2015/09/11/us/11nino/11nino-jumbo.jpg?quality=75&auto=webp");
  max-width: 800px;
  margin: 20px auto;
  border: 5px solid black;
  margin-top: 5.5rem;
  padding: 20px 20px;
  border-radius: 10px ;
}


 